.task {
    position: relative;
    padding: 0em 1em;
    display: flex;
    flex-direction: row;
    border: 2px solid #ccc;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    user-select: none;
}

.eisenhower-box > .task > .task-details {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
}

.eisenhower-box > .task > .task-details > .task-description {
    margin: 0;
    height: inherit;
}

.task .task-body {
    display: inline-block;
}
