.eisenhower-box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 50vw;
    height: 100vh;
}

.eisenhower-box {
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: scroll;
}
